@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: "Poppins";
    font-weight: 300;
    color:#9C9C9C;
}

/*-----------------------*/ 

// .button {
// }

/*-------Header----------------*/ 


/*-----------------------*/ 

// .header {
// }
.header__container {
    display: flex;
    column-gap: 35px;
    // justify-content: center;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}
// .header_logo {
// }
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
   
}

// .menu_icon {
// }
// .icon-menu {
// }
.menu__list {
    display: flex;
    column-gap: 35px;
    justify-content: end;
   
}
// .menu_item {
// }
.menu__link {
    font-size: 16px;
    color: #fff;
    line-height: 1.62; /* 26/16 */
}
// .header_cart {
// }
// .cart-header_text {
// }
// .cart-header_quatity {
// }
// .header_button {
// }

.icon-menu {
    display: none;
}