@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: "Poppins";
    font-weight: 300;
    color:#9C9C9C;
}

/*-----------------------*/ 

// .button {
// }

/*-------Header----------------*/ 


/*-----------------------*/ 

// .header {
// }
.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}
// .header_logo {
// }
.header_menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
   
}

// .menu_icon {
// }
// .icon-menu {
// }
// .menu_list {
// }
// .menu_item {
// }
// .menu_link {
// }
// .header_cart {
// }
// .cart-header_text {
// }
// .cart-header_quatity {
// }
// .header_button {
// }

// .icon-menu {
// }