html,
body {
    height: 100%;
    line-height: 1;
  }
  
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: inherit;
    font-size: inherit;
  }
  
  img {
    vertical-align: top;
  }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .link {
    color: var(--first-title-color);
    text-decoration: none;
  }

  a, a:link, a:visited  {
    text-decoration: none;
  }

  ul,
  ol,
  li {
    list-style: none;
  }
  button {
    cursor: pointer;
    background-color: inherit;
  }
  button, 
  input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
  }