.wrapper{
    background-color: #0D0D11;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*="__container"]{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
    }
    
.page{
        flex: 1 1 auto;
    }

[class*="__button"] {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background-color: #3d96f4;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
    line-height: 1.43; /* 22/14 */
}  

@media (max-width: 991.98px) {
    [class*="__button"] {
     padding: 14px 20px;
    }}

[class*="__button"]:hover{
    background-color: #68a9f0;
}

.button_dark {
    background: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
    background: rgba(129, 129, 139, 0.4);
}

// .header-main {
// }

.header-main__title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19; /* 61/51 */
    color: #fff;
    // max-width: 520px;
    position: relative;
}

.header-main__title:not(:last-child) {
    margin-bottom: 28px;
}

.header-main__text {
    color: #9C9C9C;
     font-size: 18px;
    line-height: 1.5; /* 27/18 */
    // max-width: 500px;
}

.header-main__text:not(:last-child) {
    margin-bottom: 33px;
}

.text {
    color: #81818B;
    // font-size: 16px;
    line-height: 1.5; /* 24/16 */
}

.header-main__actions {
    display: flex;
    column-gap: 32px;
    row-gap: 15px;
}

// .header-main__button {
// }

@media (max-width: 991.98px) {
    .header-main__title {
    font-size: 44px;;
}}

@media (max-width: 768px) {
    .header-main__title {
        max-width: 520px;
    }
    .header-main__text {
        max-width: 500px;
    }
}

@media (max-width: 767.98px) {
    .header-main__title {
    font-size: 32px;
}
.header-main__title:not(:last-child) {
margin-bottom: 15px;
}
.header-main__text:not(:last-child) {
    margin-bottom: 15px;
    }
}

@media (max-width: 479.98px) {
    .header-main__actions {
        flex-direction: column;
    }
}

@media (max-width: 991.98px) {
    .header__container,
    .menu__list {
        column-gap: 25px;
    }
    .header__container {
        min-height: 90px;
    }
}

